In [3]:
import sqlite3

In [4]:
#connect
conn = sqlite3.connect("../Resources/pets.sqlite")

In [5]:
#obtain a cursor - something to loop through via database connection
cur = conn.cursor()
#obtain details of the schema/table format from table named player
cur.execute("SELECT sql FROM sqlite_master WHERE name='pet'")
rows = cur.fetchall()
 
for row in rows:
    print(row)

('CREATE TABLE pet (\n\tid INTEGER NOT NULL, \n\tname VARCHAR, \n\ttype VARCHAR, \n\tage INTEGER, \n\tPRIMARY KEY (id)\n)',)

In [11]:
#do basic select * from pet
cur.execute("SELECT * from pet")
rows = cur.fetchall()
 
for row in rows:
    print(row)

(1, 'Justin Timbersnake', 'snek', 2)
(2, 'Pawtrick Stewart', 'good boy', 10)
(3, 'Godzilla', 'iguana', 1)

In [8]:
#rows to insert
rowsinsert = [(4,'Justin Timbersnake', 'snek', 2),
 (5,'Pawtrick Stewart', 'good boy', 10),
 (6,'Godzilla', 'iguana', 1),
 (7,'Marshmallow', 'polar bear', 4)]

In [12]:
cur.executemany('insert into pet values (?,?,?,?)', rowsinsert)
conn.commit()

In [13]:
#do basic select * from pet - check updates
cur.execute("SELECT * from pet")
rows = cur.fetchall()
 
for row in rows:
    print(row)

(1, 'Justin Timbersnake', 'snek', 2)
(2, 'Pawtrick Stewart', 'good boy', 10)
(3, 'Godzilla', 'iguana', 1)
(4, 'Justin Timbersnake', 'snek', 2)
(5, 'Pawtrick Stewart', 'good boy', 10)
(6, 'Godzilla', 'iguana', 1)
(7, 'Marshmallow', 'polar bear', 4)

## Update Data

In [15]:
#update command
cur.execute("UPDATE pet SET name = ? WHERE id = ?", ("Chocolate", 7))
#commit result
conn.commit()

In [16]:
#read changes
cur.execute("SELECT * from pet")
rows = cur.fetchall()
 
for row in rows:
    print(row)

(1, 'Justin Timbersnake', 'snek', 2)
(2, 'Pawtrick Stewart', 'good boy', 10)
(3, 'Godzilla', 'iguana', 1)
(4, 'Justin Timbersnake', 'snek', 2)
(5, 'Pawtrick Stewart', 'good boy', 10)
(6, 'Godzilla', 'iguana', 1)
(7, 'Chocolate', 'polar bear', 4)

## Delete Data

In [17]:
# Create a query and then delete the row collected
cur.execute("delete from pet WHERE id=?", (3,))
#commit result
conn.commit()

In [18]:
#read changes
cur.execute("SELECT * from pet")
rows = cur.fetchall()
 
for row in rows:
    print(row)

(1, 'Justin Timbersnake', 'snek', 2)
(2, 'Pawtrick Stewart', 'good boy', 10)
(4, 'Justin Timbersnake', 'snek', 2)
(5, 'Pawtrick Stewart', 'good boy', 10)
(6, 'Godzilla', 'iguana', 1)
(7, 'Chocolate', 'polar bear', 4)