In [24]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
api_key = 'AIzaSyD9nBYnxg4UjUdH0aLW3JTcfHFqd_vb0Cg'

In [25]:
# Import cities file into the cities_pd DataFrame
data = pd.read_csv('/Users/krishna/Documents/School/GeorgiaTech/GTATL201902DATA3/06-Python-APIs/3/Activities/05-Stu_Google_Complex/Resources/Cities.csv')
data.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [26]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
column_names = ['City/State','Lat', 'Lng', 'Airport_name', 'Airport_address', 'Airport_rating']
for i in column_names:
    data[i] = ''

In [34]:
data.shape

(100, 8)

In [33]:
data.head()

,City,State,City/State,Lat,Lng,Airport_name,Airport_address,Airport_rating
0,New York City,New York,,,,,,
1,Los Angeles,California,,,,,,
2,Chicago,Illinois,,,,,,
3,Houston,Texas,,,,,,
4,Philadelphia,Pennsylvania,,,,,,

In [31]:
for 
data['City/State'] = data.loc[i, 'City'] + "," + data.loc[i, 'State']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [15]:
url = 'https://maps.googleapis.com/maps/api/geocode/json'
prameters = 1

In [ ]:
response = requests.get()

In [ ]:
# Loop through the cities_pd and get the lat/long for each city
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`

In [ ]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears